
body{
	margin:0;
	padding:0;
	background-color:#009688;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	font-family: 'Raleway', sans-serif;
}
.loader{
	position:absolute;
	top:45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border-radius: 5px;
	border:3px solid #6dffb4;
	animation: animate 2s linear infinite;

}
.loader:before{
	content:'';
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: #224241;
	border-radius: 1px;
	animation: animateBg 2s linear infinite;
}
@keyframes animate {
	0%{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	25%{
		transform: translate(-50%, -50%) rotate(180deg);
	}
	50%{
		transform: translate(-50%, -50%) rotate(180deg);
	}
	75%{
		transform: translate(-50%, -50%) rotate(360deg);
	}
	100%{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes animateBg {
	0%{
		height: 0px;
	}
	25%{
		height: 0px;
	}
	50%{
		height: 100%;
	}
	75%{
		height: 100%;
	}
	100%{
		height: 0px;
	}
}
.firstContent{
	position: absolute;
	margin:0;
	padding:0;
	transform: translate(-50%, -5%);
	top:50%;
	left: 50%;
	color:white;
}
.firstContent h2{
	letter-spacing: 10px;
	font-weight: 40;
}
.firstContent p{
	letter-spacing: 2px;
	font-weight: 200;
	color:#c4d1d0;
	text-align: right;
}
.content{
	width: 450px;
	background: rgba(8,5,4,0.2);
	margin: auto;
	margin-top: 10%;
	text-align: center;
	color:white;
	display: none;
	padding:10px;
}
.content .index{
	background:rgba(0,0,0,0.5); 
	width: auto;
	padding:20px;
}

.content .index p{
	padding-top: 20px;
	text-align: justify;
}

.content .index h1{
	letter-spacing: 5px;
	font-weight: 100;
	padding-top: 5px;
}
.content ul{
	margin: 0;
	padding:0;
}
.content .index li{
	display: inline-block;
	list-style: none;
	font-size: 40px;
	margin:8px;
	
}
.content .index li a{
	color:white;
}
.content .index .imgContainer a{
	color:white;
}
.content .imgContainer a:hover{
	color:white;
	text-decoration: none;
	font-size: 18px;
	color:#215cba;
}
.content .index-img{
	padding:10px;
	border-radius: 50%;
	width:145px;
	height:150px;
	/*border:1px solid white;*/
}




/*Navigation*/

.btnNav{
	position: absolute;
	top: 40%;
	color: rgba(0,0,0,0.2);
	font-size: 22px;
	display: none;
}
.btnNavL{
	left: 12px;
}
.btnNavR{
	right: 12px;
}
.btnNavL a,
.btnNavR a{
	text-decoration: none;
	color: rgba(0,0,0,0.2);
}

.btnNavL span,
.btnNavR span{
	display: none;
	color: white;
}

.btn{
	display:inline-block;
	font-weight:400;
	line-height:1.25;
	text-align:center;
	white-space:nowrap;
}
.btn-transpa{
	background-color:transparent;
}





/*media queries*/

@media only screen and  (min-width : 320px) and  (max-width : 480px) {

	.firstContent h2{
		font-size: 14px;
		text-align: center;
		margin-top: 20px;

    }
    .firstContent p{
		font-size: 10px;
		text-align: center;
    }
    .index{
    	background-color: #009688;
    	width:auto;
    }
    .index h1{
    	padding-top: 17px;
    	font-size: 17px;
    	letter-spacing: 3px;
    }
    .index h5{
    	font-size: 14px;
    	letter-spacing: 1px;
    }
    .index p{
    	font-size: 13px;
    	padding:20px;
    }

}



@media only screen and (min-width: 481px) and (max-width: 768px) {
    .firstContent h2{
		font-size: 18px;
		letter-spacing: 4px;
    }
    .firstContent p{
		font-size: 16px;
		letter-spacing: 1px;
		text-align: center;
    }
    .index{
    	margin-top: 20%;
    	width: 350px; 
    }
    .index h1{
    	padding-top: 15px;
    	font-size: 18px;
    }
    .index h5{
    	font-size: 13px;
    	letter-spacing: 1px;
    }
    .index p{
    	font-size: 13px;
    }
 
}

@media screen and (min-width: 769px) and (max-width: 1824px) {
   
    .firstContent h2{
		font-size: 18px;
		letter-spacing: 4px;
    }
    .firstContent p{
		font-size: 16px;
		letter-spacing: 1px;
		text-align: center;
    }
     .index{
    	margin-top: 8%;
    	width: 450px; 
    }
    .index h1{
    	padding-top: 15px;
    	font-size: 18px;
    }
    .index h5{
    	font-size: 13px;
    	letter-spacing: 1px;
    }
    .index p{
    	font-size: 13px;
    }

}