.kk{
			border:2px solid red;
		}
		body {
			padding: 0;
			margin:0;
		}
		#slide-menu{
		    position: fixed;
		    z-index: 1000;
		    top:0;
		    bottom: 0;
		    background-color: grey;
		    height: 100%;
		    width:350px;
		}
		.user-img {
			/*display: flex;*/
			text-align:  center;
			/*flex-direction: row;*/
		}
		.user-img img {
			padding:2px;
			height: 100px;
			width: 100px;
			border-radius: 50px 50px;
		}
		.user-name {
			display: flex;
			justify-content: center;
			flex-flow: column;
			/*flex-wrap: wrap;*/
			align-items: center;
		}
		.user-name p{
			padding-bottom:0px;
			letter-spacing: 8px;
			font-weight: 100px;
			font-size: 20px;
		}
		
		.navigation-menu ul{
			padding: 0;
			align-items: center;
			display: block;
			text-align: center;
		}
		.menu-items {
			list-style: none;
			padding:20px;


		}
		.menu-items a{
			text-decoration: none;
			color: #dd1100;
			font-size: 17px;
			/*border:1px solid black;*/

		}
		.navigation-menu li i{
			color: black;
		}

		/*social icons*/
		.social-icons {
			padding:10px;
			margin:1px;
		}
		
		/*sidebar year*/
		.year{
			position: fixed;
			text-align: center;
			left: 0;
			bottom: 0.1px;
			width: 350px;
		}
		main {
			margin-left: 350px;
		}
		.container{
			padding:70px;
			margin: 15px 15px;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.content{
			padding:10px;
		}